.matToolbar{
    background-color: rgba(255,255,255,73%);
    color: rgb(34 56 16);
}

@media (max-width: 599px){
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 45px;
}
}

#pageBackground{
    position: absolute;
    top: -50px;
    left: -40px;
    width: 118vw;
    z-index: -1;
    height: 200%;
}