<h2 style="text-align: center;margin-top: 15px;text-decoration-line: underline;">Services</h2>
<div id="container">
    <div style="display: flex;">
        <app-card class="appCard" [textCont]="'Interior Painting'" [imageUrl]="'../../assets/img/interior.jpg'"></app-card>
        <app-card class="appCard" [textCont]="'Exterior Painting'" [imageUrl]="'../../assets/img/exterior.jpg'"></app-card>
    </div>
    <div style="display: flex;">
        <app-card class="appCard" [textCont]="'Gardens Painting'" [imageUrl]="'../../assets/img/bench.jpg'"></app-card>
        <app-card class="appCard" [textCont]="'Balcony Painting'" [imageUrl]="'../../assets/img/pov.png'"></app-card>
    </div>
</div>